.RecipeGallery {
  margin: 0px -10px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  z-index: 1;
}

.Slider {
  /* margin: 0px -10px; */
  margin-left: -20px;
}

.RecipeGallery .recipe-wrapper {
  width: 100%;
  margin: 0 10px;
}

.Slider .recipe-wrapper {
  width: 100%;
  margin-left: -20px;
}

@media screen and (max-width: 1020px) {
  .recipe-wrapper {
    margin: 0 auto;
  }
}

@media screen and (max-width: 490px) {
  .Slider {
    margin: 0 auto;
  }

  .Slider .recipe-wrapper {
    max-width: 320px;
    margin: -10px;
  }
}
