.RecipeGallery {
  margin: 0px -10px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  z-index: 1;
}

.Slider {
  margin: 0px -10px;
}

.recipe-wrapper {
  width: 100%;
  margin: 0 10px;
}
