.Banner {
  height: 75vh;
  padding: 0px 0px 55px;
}

.banner-wrapper {
  min-height: 100%;
  height: 100%;
  position: relative;
}

.content-wrapper {
  margin: 0px 0px 0px 43px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.subtitle {
  margin: 14px 0px 30px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.17;
  color: $white;
}

.bannerBtn {
  width: 160px;
  margin-right: 15px;
}

.bannerBtn:last-child {
  margin-right: initial;
}
