.ProductBreadcrumbs {
  padding: 20px 0px;
}

.nav-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.main-link {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.36;
  text-decoration: none;
  text-transform: uppercase;
  color: $black;
}

.shop-link {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.36;
  text-decoration: none;
  text-transform: uppercase;
  color: $black;
}

.curr-link {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.36;
  text-decoration: none;
  text-transform: uppercase;
  color: $black;
  opacity: 0.4;
}

.dot {
  margin: 0px 12px;
  width: 6px;
  height: 6px;
  top: -1px;
  position: relative;
  background-color: $main;
  border-radius: 50%;
}
