<IfModule mod_rewrite.c>
Options +FollowSymLinks
RewriteEngine On
RewriteRule ^result https://kormimpravilnowp.yevdokimov.pro/wp-json/kormimpravilno/v1%{REQUEST_URI} [R=302,NC]

Redirect 302 /success /?popup=success
Redirect 302 /fail /?popup=fail
