.PriceDeliverySection {
  margin: 20px 0px 0px;
  padding: 70px 0px 0px;
  position: relative;
  z-index: 1;
}

.subheading {
  margin: -8px auto 0px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.17;
  text-align: center;
}

.text {
  max-width: 621px;
  margin: 8px auto 0px;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}
