.InstaCard {
  max-width: 290px;
  min-width: 290px;
  max-height: 290px;
  min-height: 290px;
  margin: 6px;
  border-radius: 6px;
  cursor: pointer;
  box-sizing: border-box;
  transition: border 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.InstaCard:hover {
  border: solid 2px $main;
}

.image {
  /* width: 100%; */
  border-radius: 6px;
}
