.RecipeCard {
  max-width: 385px;
  border-radius: 6px;
  border: solid 1px #e2e2e2;
}

.avatar {
  width: 100%;
  max-height: 217px;
  transform: scaleX(-1);
}

.content-wrapper {
  padding: 15px 15px 20px 15px;
  box-sizing: border-box;
}

.header {
}

.heading {
  margin: 0;
  font-size: 20px;
  font-weight: 800;
}

.description {
  margin: 10px 0px 0px;
  font-size: 14px;
  line-height: 1.5;
}

.footer {
  margin: 15px 0px 0px;
}
