.ProductInCartCounter {
  max-width: 115px;
  min-width: 115px;
  width: 115px;
  height: 41px;
  padding: 0px 8px;
  border-radius: 22.5px;
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.remove {
  max-width: 25px;
  min-width: 25px;
  width: 100%;
  height: 25px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.14);
  background-color: $white;
  color: $black;
  font-size: 25px;
  line-height: 25px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.remove.disabled {
  color: #d1d1d1;
}

.remove:hover {
  background-color: $main;
  color: $white;
}

.remove.disabled:hover {
  background-color: $white;
  color: #d1d1d1;
}

.counter {
  margin: 0px 16px;
  font-size: 18px;
  font-weight: bold;
  color: $black;
}

.add {
  max-width: 25px;
  min-width: 25px;
  width: 100%;
  height: 25px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.14);
  background-color: $white;
  color: $main;
  font-size: 22px;
  line-height: 25px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.add:hover {
  background-color: $main;
  color: $white;
}
