.ProductCard {
  max-width: 385px;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  border: 1px solid #e2e2e2;
  position: relative;
  transition: box-shadow border 0.2s ease-in-out;
  cursor: pointer;
}

.ProductCard:hover {
  box-shadow: 0 12px 23px 0 rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
}

.ProductCard:hover .cart-btn {
  box-shadow: 0 6px 14px 0 rgba(55, 168, 54, 0.38);
  background-color: $main;
  color: $white;
}

.ProductCard:hover .cart-btn-img path {
  fill: $white;
}

.link-wrapper {
  color: $black;
  text-decoration: none;
}

.avatar {
  width: 100%;
  /* max-height: 350px; */
}

.content-wrapper {
  padding: 17px 18px 20px 18px;
  box-sizing: border-box;
}

.header {
  margin: 0px 0px 75px;
}

.heading {
  margin: 0px;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.32;
}

.composition {
  margin: 7px 0px 0px;
  font-size: 14px;
  line-height: 1.5;
}

.weight {
  margin: 5px 0px 0px;
  font-size: 14px;
  line-height: 1.57;
}

.footer {
  width: 100%;
  padding: 0px 19px 20px 19px;
  left: 0;
  bottom: 0;
  position: absolute;
  box-sizing: border-box;
}

.separator {
  width: 100%;
  height: 1px;
  margin: 0px auto;
  background-color: #e2e2e2;
}

.footer-content-wrapper {
  margin: 18px 0px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  margin: 23px 0px 0px;
  font-size: 24px;
  font-weight: bold;
  color: $main;
}

.cart-btn {
  width: 182px;
  transition: background-color box-shadow color 0.2s ease-in-out;
  line-height: 40px;
}

svg.cart-btn-img {
  width: 17px;
  height: 18px;
  margin-right: 12px;
  top: 2px;
  position: relative;
  display: inline-block;
}

.cart-btn-img path {
  fill: $black;
  transition: fill 0.1s ease-in-out;
}

@media screen and (max-width: 490px) {
  .ProductCard {
    max-width: 300px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 450px) {
  .header {
    margin: 0px 0px 115px;
  }

  .footer-content-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .footer-content-wrapper {
    margin: 10px 0px 0px;
  }

  .cart-btn {
    margin: 8px 0px 0px;
  }
}
