.BoxedQuote {
  max-width: 840px;
  margin: 40px auto 0px;
  padding: 50px 40px 0px;
  background-image: url('./box.svg');
  background-position: top;
  background-size: 100% 167px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: relative;
}

.text {
  margin: 0px auto 40px;
  font-size: 18px;
  line-height: 1.44;
  text-align: center;
}

.button {
  margin: 0px auto;
  width: 268px;
  z-index: 10;
}

.button-wrapper {
  width: 284px;
  margin: 0 auto;
  background-color: $white;
}

.decoration {
  top: 32px;
  left: 26px;
  position: absolute;
}

@media screen and (max-width: 600px) {
  .BoxedQuote {
    background-image: none;
  }

  .button-wrapper {
    max-width: 268px;
    width: 100%;
  }

  .button {
    width: 100%;
  }
}

@media screen and (max-width: 430px) {
  .BoxedQuote {
    padding: 0;
  }

  .text {
    margin: 0 auto 30px;
  }

  .decoration {
    top: -20px;
    left: 0px;
    position: absolute;
  }
}
