.ContactsAboutSection {
  margin: 80px 0px 160px;
  padding: 80px 0px 0px;
  position: relative;
}

.ContactsAboutSection:after {
  content: url('./bg-wave-3.svg');
  top: 0px;
  right: 0px;
  position: absolute;
  z-index: 0;
  opacity: 0.7;
}

.wrapper {
  margin: 34px 0px 0px;
  border: solid 1px $white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 6px;
  box-shadow: 0 11px 24px 0 rgba(0, 0, 0, 0.13);
  background-color: $white;
  position: relative;
  z-index: 1;
}

.no-shops {
  display: none;
}

.text-wrapper {
  max-width: 465px;
  min-width: 280px;
  width: 100%;
  /* max-height: 473px; */
  /* min-height: 473px; */
  /* padding: 24px; */
  box-sizing: border-box;
  box-shadow: 0 11px 24px 0 rgba(0, 0, 0, 0.13);
}

.subheading {
  margin: 0px 0px 20px;
  font-size: 24px;
  font-weight: 800;
  color: $black;
}

.contacts-list {
  margin: 0;
  padding: 0;
}

.list-item {
  margin: 15px 0px;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.list-item:first-child {
  margin-top: 0px;
}

.list-item:last-child {
  margin-bottom: 0px;
}

.icon-wrapper {
  max-width: 58px;
  min-width: 58px;
  height: 58px;
  margin-right: 12px;
  border: solid 1px #e8e8e8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 23px;
}

.info {
  margin: 0;
  font-size: 18px;
  line-height: 1.44;
  color: $black;
}

.link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.link .info {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.17;
  color: $main;
  text-decoration: underline;
  transition: color 0.2s ease-in-out;
}

.link:hover .info {
  color: $mainHover;
}

.line {
  width: 100%;
  height: 1px;
  margin: 15px 0px;
  background-color: #e2e2e2;
}

.map-wrapper {
  max-width: 738px;
  width: 100%;
  max-height: 473px;
  min-height: 473px;
  border-radius: 6px;
  box-shadow: 0 11px 24px 0 rgba(0, 0, 0, 0.13);
  box-sizing: border-box;
  overflow: hidden;
}

.city-wrapper {
  padding: 24px;
  border-bottom: solid 1px #e2e2e2;
  position: relative;
  cursor: pointer;
}

.active {
}

.active-line {
  display: none;
  width: 5px;
  top: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  box-shadow: 0 11px 24px 0 rgba(0, 0, 0, 0.13);
  background-color: $main;
}

.active .active-line {
  display: block;
}

.workinghours-icon {
  width: 30px;
  height: 28px;
}

.map {
  display: none;
}

.active-map {
  display: block;
}

.info-wrapper {
  margin: 60px 0px 0px;
}

.info-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.info-list-item {
  margin: 0px 0px 15px 0px;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.separator {
  width: 1px;
  height: 30px;
  margin: 0px 20px 15px;
  padding: 0;
  background-color: #e2e2e2;
  list-style-type: none;
}

@media screen and (max-width: 1240px) {
  .info-list {
    /* max-width: 400px; */
    /* margin: 0 auto; */
    /* justify-content: center; */
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
  }

  .separator {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  .ContactsAboutSection {
    margin: 80px 0px 100px;
  }

  .wrapper {
    max-width: 738px;
    margin: 34px auto 0px;
    flex-wrap: wrap;
  }

  .text-wrapper {
    max-width: initial;
    /* max-height: 350px; */
    /* min-height: 350px; */
  }

  .map-wrapper {
    max-height: 350px;
    min-height: 350px;
  }
}

@media screen and (max-width: 500px) {
  .city-wrapper {
    padding: 17px;
  }

  .icon-wrapper {
    max-width: 45px;
    min-width: 45px;
    height: 45px;
  }

  .icon {
    width: 19px;
  }

  .info {
    font-size: 14px;
  }

  .link .info {
    font-size: 14px;
  }

  .info-list {
    padding-left: 17px;
    align-items: flex-start;
  }
}
