.ContactsAboutSection {
  margin: 80px 0px 100px;
  padding: 80px 0px 0px;
  position: relative;
}

.ContactsAboutSection:after {
  content: url('./bg-wave-3.svg');
  top: 0px;
  right: 0px;
  position: absolute;
  z-index: 0;
}

.wrapper {
  margin: 34px 0px 0px;
  border: solid 2px $white;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  border-radius: 6px;
  box-shadow: 0 11px 24px 0 rgba(0, 0, 0, 0.13);
  background-color: $white;
  position: relative;
  z-index: 1;
}

.text-wrapper {
  max-width: 465px;
  min-width: 280px;
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
}

.subheading {
  margin: 0px 0px 20px;
  font-size: 24px;
  font-weight: 800;
  color: $black;
}

.contacts-list {
  margin: 0;
  padding: 0;
}

.list-item {
  margin: 15px 0px;
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.list-item:first-child {
  margin-top: 0px;
}

.list-item:last-child {
  margin-bottom: 0px;
}

.icon-wrapper {
  max-width: 58px;
  min-width: 58px;
  height: 58px;
  margin-right: 12px;
  border: solid 1px #e8e8e8;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 23px;
}

.info {
  margin: 0;
  font-size: 18px;
  line-height: 1.44;
  color: $black;
}

.link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.link .info {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.17;
  color: #37b23a;
  text-decoration: underline;
}

.line {
  width: 100%;
  height: 1px;
  margin: 15px 0px;
  background-color: #e2e2e2;
}

.map-wrapper {
  max-width: 738px;
  width: 100%;
  background-color: $black;
}

@media screen and (max-width: 950px) {
  .wrapper {
    max-width: 738px;
    margin: 34px auto 0px;
    flex-wrap: wrap;
  }

  .map-wrapper {
    max-height: 473px;
    min-height: 437px;
  }
}

@media screen and (max-width: 500px) {
  .text-wrapper {
    padding: 17px;
  }

  .icon-wrapper {
    max-width: 45px;
    min-width: 45px;
    height: 45px;
  }

  .icon {
    width: 19px;
  }

  .info {
    font-size: 14px;
  }

  .link .info {
    font-size: 14px;
  }
}
