.Logo {
  width: 204px;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.Logo-alt {
  width: 166px;
}

@media screen and (max-width: 1220px) {
  .Logo {
    width: 135px;
    top: 50%;
    transform: translate(-50%, -40%);
    /* position: static;
    transform: none; */
  }

  .logo-img {
    width: 100%;
  }
}

@media screen and (max-width: 380px) {
  .Logo {
    /* width: 170px; */
  }

  .logo-img {
    /* width: 100%; */
  }
}
