.Logo {
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.Logo-alt {
}

@media screen and (max-width: 1220px) {
  .Logo {
    top: 15px;
  }
}

@media screen and (max-width: 380px) {
  .Logo {
    left: 136px;
  }
}
