.Logo {
  width: 204px;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

.Logo-alt {
  width: 166px;
}

@media screen and (max-width: 1220px) {
  .Logo {
    top: 15px;
  }
}

@media screen and (max-width: 380px) {
  .Logo {
    width: 170px;
  }

  .logo-img {
    width: 100%;
  }
}
