.ProductGallery {
  margin: -22px -11px 0px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  flex-wrap: wrap;
}

.Slider {
  margin-left: -20px;
}

.product-wrapper {
  max-width: 385px;
  width: 100%;
}

.Slider .product-wrapper {
  margin-left: 20px;
}

.ProductGallery .product-wrapper {
  margin-top: 22px;
  padding: 0 11px;
}

.slider-4-wrapper {
  margin: -22px -6px 0px;
}

.slider-4-product-wrapper {
  max-width: 291px;
  width: 100%;
}

.ProductGallery .slider-4-product-wrapper {
  margin-top: 22px;
  padding: 0 6px;
}

@media screen and (max-width: 1254px) {
  .slider-wrapper {
    margin: 0px -20px;
  }

  .product-wrapper {
    max-width: 385px;
    width: 100%;
  }

  .Slider .product-wrapper {
    margin-left: 20px;
  }

  .ProductGallery .product-wrapper {
    margin-top: 22px;
    padding: 0 11px;
  }
}

@media screen and (max-width: 490px) {
  .Slider .product-wrapper {
    max-width: 340px;
  }
}

@media screen and (max-width: 430px) {
  .Slider .product-wrapper {
    margin-left: 10px;
  }
}

@media screen and (max-width: 390px) {
  .Slider .product-wrapper > article {
    max-width: 280px;
    margin: 0;
  }
}

.shop-ProductGallery {
  margin: -12px -6px 0px;
}

.shop-ProductGallery .shop-product-wrapper {
  margin-top: 12px;
  padding: 0 6px;
}

.shop-product-wrapper {
  max-width: 291px;
  width: 100%;
}

@media screen and (max-width: 660px) {
  .shop-ProductGallery {
    margin: -7px -3px 0px;
  }

  .shop-ProductGallery .shop-product-wrapper {
    margin-top: 7px;
    padding: 0 3px;
  }

  .shop-product-wrapper {
    max-width: 141px;
    width: 100%;
  }
}
