.ProductGallery {
  margin: -22px -11px 0px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  flex-wrap: wrap;
}

.Slider {
  /* margin: 0px -11px; */
  margin-left: -20px;
}

.product-wrapper {
  max-width: 385px;
  width: 100%;
}

.Slider .product-wrapper {
  margin-left: 20px;
}

.ProductGallery .product-wrapper {
  margin-top: 22px;
  padding: 0 11px;
}

@media screen and (max-width: 490px) {
  .Slider {
    margin: 0 auto;
  }

  .Slider .product-wrapper {
    max-width: 320px;
    margin: -10px;
  }
}

@media screen and (max-width: 420px) {
  .Slider {
    /* margin: 0 -26px; */
  }
}
