.Sorting {
}

.Sorting:hover .dropbtn {
  border: solid 1px $main;
  border-radius: 22.5px 22.5px 0px 0px;
}

.Sorting:hover .options {
  display: block;
}

.Sorting:hover .options-inner-wrapper {
  bottom: 0%;
  top: 100%;
}

.Sorting:hover .arrow {
  transform: rotate(180deg);
}

.dropdown {
  font-size: 14px;
  line-height: 1.46;
  color: $black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.text {
  font-weight: bold;
}

.dropbtn {
  width: 165px;
  height: 45px;
  margin-left: 5px;
  border-radius: 22.5px;
  border: solid 1px #d8d8d8;
  background-color: $white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.current {
  margin: 0;
  font-weight: bold;
  color: $main;
}

.arrow {
  width: 10px;
  height: 12px;
  margin-left: 5px;
}

.options {
  display: none;
  width: 167px;
  top: 100%;
  right: 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  /* max-height: 200px;
  overflow-y: auto; */
  position: absolute;
  /* overflow: hidden; */
  z-index: 1;
}

.options-inner-wrapper {
  bottom: 100%;
  top: 0%;
  right: 0;
  position: absolute;
  transition: top 0.5s ease-in-out, bottom 0.5s ease-in-out;
}

.option {
  width: 100%;
  height: 45px;
  border-top: none;
  border-bottom: solid 1px $main;
  border-left: solid 1px $main;
  border-right: solid 1px $main;
  background-color: $white;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
}

.option:hover {
  background-color: $main;
  color: $white;
}

.option:last-child {
  border-radius: 0px 0px 22.5px 22.5px;
  background-clip: padding-box;
}
