.Sorting {
  position: relative;
}

.open .dropbtn {
  border: solid 1px $main;
  border-radius: 22.5px 22.5px 0px 0px;
}

.open .current {
  color: $main;
}

.open .arrow {
  transform: rotate(180deg);
}

.open .options {
  display: block;
}

.open .options-inner-wrapper {
  bottom: 0%;
  top: 100%;
}

.dropdown {
  font-size: 14px;
  line-height: 1.46;
  color: $black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.text {
  font-weight: bold;
}

.dropbtn {
  width: 264px;
  /* height: 45px; */
  padding: 11px 21px 11px 19px;
  margin-left: 11px;
  /* padding: 0px 19px 0px 19px; */
  border: solid 1px #d8d8d8;
  border-radius: 22.5px;
  background-color: $white;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
  /* box-sizing: border-box; */
  z-index: 2;
}

.current {
  margin: 0;
  color: $black;
}

.arrow {
  width: 12px;
  height: 16px;
}

.options {
  display: none;
  width: 264px;
  top: 100%;
  right: 0;
  box-sizing: border-box;
  /* max-height: 200px;
  overflow-y: auto; */
  position: absolute;
  /* overflow: hidden; */
  z-index: 1;
}

.options-inner-wrapper {
  bottom: 100%;
  top: 0%;
  right: 0;
  position: absolute;
  transition: top 0.5s ease-in-out, bottom 0.5s ease-in-out;
}

.option {
  width: 100%;
  /* height: 45px; */
  padding: 11px 19px;
  border-top: none;
  border-bottom: solid 1px $main;
  border-left: solid 1px $main;
  border-right: solid 1px $main;
  background-color: $white;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.5;
}

.option:hover {
  background-color: $main;
  color: $white;
}

.option:last-child {
  border-radius: 0px 0px 22.5px 22.5px;
  background-clip: padding-box;
}

@media screen and (max-width: 430px) {
  .dropbtn,
  .options {
    width: 240px;
  }

  .current,
  .option {
    font-size: 12px;
  }
}

@media screen and (max-width: 390px) {
  .dropdown {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .dropbtn {
    margin: 7px 0px 0px;
  }
}
