.SecondaryBanner {
  width: 100%;
  min-height: 252px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SecondaryBanner > div {
  top: -10px;
}

.SecondaryBanner.aligned-left {
  min-height: initial;
  margin: 0;
  justify-content: flex-start;
}

.aligned-left-wrapper {
}

.breadcrumbs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aligned-left .breadcrumbs {
  justify-content: flex-start;
}

.main-link {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.36;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
}

.aligned-left .main-link {
  color: $black;
}

.dot {
  margin: 0 12px;
  width: 6px;
  height: 6px;
  background-color: $white;
  border-radius: 50%;
}

.aligned-left .dot {
  background-color: $main;
}

.secondary-link {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.36;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
  opacity: 0.6;
}

.aligned-left .secondary-link {
  color: $black;
  opacity: 0.5;
}

.heading-wrapper {
  max-width: 650px;
  margin: 12px auto 0px;
}

.aligned-left .heading-wrapper {
  margin: 10px 0px 0px;
}

.heading {
  margin: 0px;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.15;
  text-align: center;
  color: $white;
}

.aligned-left .heading {
  text-align: left;
  color: $black;
}

.line {
  margin: 15px auto 0px;
  width: 100px;
  height: 4px;
  background-color: $main;
  background-image: linear-gradient(86deg, #41914c -38%, #69e579 139%);
}

.aligned-left .line {
  margin: 10px 0px 0px;
}

@media screen and (max-width: 500px) {
  .heading {
    font-size: 30px;
  }
}

@media screen and (max-width: 380px) {
  .delivery-heading {
    font-size: 24px;
  }
}
