.Header {
  height: 85px;
  padding: 20px;
  border: solid 1px #e8e8e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.95);
}

.Wrapper > * {
  margin-left: 15px;
}

.Wrapper > *:first-child {
  margin-left: initial;
}

.phone-btn {
  width: 168px;
  line-height: 40px;
}

.insta-img {
  width: 16px;
}

.cart-icon-wrapper {
  width: 14px;
  height: 18px;
}

.cart-img {
  width: 100%;
  height: 100%;
}

.burger-btn {
  padding: 10px;
  border: 0;
  background: none;
}

.burger-line {
  width: 23px;
  height: 2px;
  margin-bottom: 5px;
  background-color: $main;
}

.cross-img {
  width: 23px;
  height: 23px;
}

.burger-line:last-child {
  margin-bottom: initial;
}

.mobile-menu-modal > div,
.mobile-menu-modal > a,
.mobile-menu-modal li {
  margin: 15px auto;
}

.mobile-menu-btn-wrapper .insta-img {
  width: 16px;
}

.mobile-menu-btn-wrapper .cart-img {
  width: 14px;
}

.mobile-menu-btn-wrapper path {
  fill: $white;
}

@media screen and (max-width: 1220px) {
  .Header {
    height: 60px;
    justify-content: flex-end;
  }

  .mobile-menu-btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile-menu-btn-wrapper button,
  .mobile-menu-btn-wrapper a {
    margin: 0px 7px;
  }

  .phone-btn {
    color: $white;
  }

  .cart-modal {
  }
}

@media screen and (max-width: 380px) {
  .Header {
    padding: 10px;
  }
}
