.MainHeading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.decoration {
  width: 3px;
  min-height: 79px;
  height: 100%;
  margin-right: 15px;
  background-color: $main;
  display: inline-block;
}

.title {
  margin: 0px 0px 0px 0px;
  color: $white;
  font-size: 40px;
  font-weight: normal;
  line-height: 1.23;
}

.firstLine {
}

.secondLine {
  display: block;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.23;
}

@media screen and (max-width: 750px) {
  .title {
    font-size: 30px;
  }

  .secondLine {
    font-size: 30px;
  }
}

@media screen and (max-width: 370px) {
  .title {
    font-size: 25px;
  }

  .secondLine {
    font-size: 25px;
  }
}
