.ChainElem {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.elem-wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.left {
  max-width: 313px;
  width: 100%;
  padding: 0px 0px 28px 15px;
  text-align: left;
  align-items: flex-start;
  order: 1;
}

.right {
  max-width: 313px;
  width: 100%;
  padding: 0px 15px 28px 0px;
  text-align: right;
  align-items: flex-end;
}

.last {
  padding-bottom: 80px;
}

.heading {
  margin: 0px 0px 5px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.5;
}

.heading-decoration {
  width: 60px;
  height: 1px;
  margin: 0px 0px 8px;
  background-color: $main;
}

.text {
  margin: 0px 0px 0px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
}

.decoration-wrapper {
  max-width: 339px;
  width: 100%;
  position: relative;
}

.circle {
  width: 19px;
  height: 19px;
  top: 2px;
  position: absolute;
  box-shadow: 0 6px 14px 0 rgba(55, 168, 54, 0.38);
  border: solid 2px $white;
  border-radius: 50%;
  background-color: $main;
  z-index: 1;
}

.decoration-left .circle {
  right: 2px;
}

.decoration-right .circle {
  left: 2px;
}

.white-bg-first {
  width: 100%;
  height: 10px;
  top: 0px;
  position: absolute;
  background-color: $white;
  z-index: 0;
}

.white-bg-last {
  width: 100%;
  height: 100%;
  top: 6px;
  position: absolute;
  background-color: $white;
  z-index: 0;
}

@media screen and (max-width: 712px) {
  .ChainElem {
    justify-content: flex-start;
  }

  .left {
    max-width: initial;
    width: 100%;
    padding: 0px 0px 28px 15px;
    text-align: left;
    align-items: flex-start;
    order: 1;
  }

  .right {
    max-width: initial;
    width: 100%;
    padding: 0px 0px 28px 15px;
    text-align: left;
    align-items: flex-start;
    order: 1;
  }

  .decoration-wrapper {
    max-width: 19px;
    width: 100%;
  }

  .decoration-left .circle {
    left: 0;
    right: 0;
  }

  .decoration-right .circle {
    left: 0;
    right: 0;
  }
}
