* {
  font-family: 'Montserrat', sans-serif;
}

html,
body {
  overflow-x: hidden;
}

p {
  margin-top: 14px;
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 1.5;
}

p:first-child {
  margin-top: 0px;
}

p:last-child {
  margin-bottom: 0px;
}

p > * {
  font-size: 14px;
  line-height: 1.5;
}

strong {
  font-size: 14px;
  line-height: 1.5;
}
