.SectionHeading {
  margin: 0px auto 20px;
  position: relative;
  z-index: 1;
}

.SectionHeading.aligned-left {
  margin: 0px 0px 20px;
}

.heading {
  margin: 0px 0px 10px;
  font-size: 34px;
  font-weight: 800;
  text-align: center;
  color: $black;
}

.aligned-left .heading {
  text-align: left;
}

.big .heading {
  font-size: 40px;
}

.decoration {
  width: 100px;
  height: 3px;
  margin: 0px auto;
  background-color: $main;
  background-image: linear-gradient(86deg, #41914c -38%, #69e579 139%);
}

.aligned-left .decoration {
  margin: 0px;
}

.big .decoration {
  height: 4px;
}

@media screen and (max-width: 500px) {
  .heading {
    font-size: 24px;
  }

  .big .heading {
    font-size: 30px;
  }
}
